<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729308057139-ei0p2t0gqk0pgkdocrep8ftdjeou0vsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729308057139-ei0p2t0gqk0pgkdocrep8ftdjeou0vsv</string>
	<key>API_KEY</key>
	<string>AIzaSyCjfB-wGqaBxR1R5HkUt4oXhuTPDzTrby8</string>
	<key>GCM_SENDER_ID</key>
	<string>729308057139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mvvm.archi.learn.mvvmArchitectureLearn</string>
	<key>PROJECT_ID</key>
	<string>mvvm-learning-kuro</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvm-learning-kuro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729308057139:ios:c466fbd10ee146e9775d46</string>
</dict>
</plist>